{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="This project helps to verify the link's reliability by evaulating link's response code onvisit" content="">
    <meta name="Vivek Vellaiyappn Surulimuthu" content="">

    <title>Link Reliability Verifier</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/fileuploadviewapp/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/fileuploadviewapp/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

  </head>

  <body>

    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <center><h1>Welcome to Link Reliability Verifier Home Page</h1></center>
      </div>
    </div>

  </body>
</html>