{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="This project helps to verify the link's reliability by evaulating link's response code onvisit" content="">
    <meta name="Vivek Vellaiyappn Surulimuthu" content="">

    <title>Link Reliability Verifier</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/fileuploadviewapp/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/fileuploadviewapp/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/fileuploadviewapp/style.css' %}" rel="stylesheet">

    <!-- Loading Images -->
    <link href="{% static 'images/page_loading.gif' %}">

    <!-- Custom javascript files for this template -->
    <script src="{% static 'js/fileuploadviewapp/switchurlupload.js'  %}"> </script>

</head>
<body>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron jumbotron-modified center">
            <h1>Link Reliability Verifier</h1>
        </div>

        <div class="switch-choice">
            <div style="text-align: right">
                <a href="https://drive.google.com/open?id=125LxihpVWTy23CaovFe-dKGzKHk4yuW1" class="btn btn-sm btn-primary">Tutorial Video</a>
                &nbsp; &nbsp;
                <a href="{% url 'about' %}" class="btn btn-sm btn-primary">About this project</a>
            </div>
            <br>
            <div class="center">
                <h4>Verify Link By</h4>
                <br>
                <span id="url-input-pad-right">
                    <input type="radio" id="verify-by-url" value="verify-by-url" onclick="hideFileUpload();" />
                    <kbd>URL</kbd>
                    <img title="Url Input" src="{% static 'images/url-image.png' %}" width="60em" alt="url-link" />
                </span>
                &nbsp;
                <span>
                    <input type="radio" id="verify-by-upload" value="igottwo" onclick="hideUrlInput();" />
                    <kbd>File Upload</kbd>
                    <img title="File Upload" src="{% static 'images/file-upload.png' %}" width="40em" alt="file-upload" />
                </span>
            </div>
        </div>

        <br>

        <div id="urlInputBlock" class="urlInputBlock">
            <div class="center">
                <h4>Input the website url</h4>
                <p class="small">
                    Please wait for a while after url input<br>
                    It may take some time to crawl through to get all associated weblinks & its responses
                </p>
            </div>

            <br>

            <div>
                <form class="center" id="urlInputForm" action='/verifyByUrl' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="url" id="url-input-id" />
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>

        </div>

        <div id="fileUploadBlock" class="fileUploadBlock">
            {% if noerror == None or error404 == None %}
            <div class="center">
                <h4>Upload file containing links</h4>
                <p class="small">
                    Please wait for a while after file upload <br>
                    It may take some time to get web responses
                </p>

                <br>

                <form id="fileUploadForm" action='/verifyByFile' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file" />
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            {% endif %}

            {% if noerror or error404 %}
            <div class="center">
                <a href="{% url 'index' %}" class="btn btn-lg btn-primary">Back</a>
            </div>
            {% endif %}

            <br>

            {% if error404 %}
            <span class="center text-success"><h3>No Errors found in following URLs</h3></span>
            <div class="jumbotron pre-scrollable">
                {% for url in noerror %}
                    {{url}}
                    <br>
                {% endfor %}
            </div>
            {% endif %}

            {% if error404 %}
            <span class="center text-danger"><h3>404 Errors found in following URLs</h3></span>
            <div class="jumbotron pre-scrollable">
                {% for url in error404%}
                    {{url}}
                    <br>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>

</body>

</html>