{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="This project helps to verify the link's reliability by evaulating link's response code onvisit" content="">
    <meta name="Vivek Vellaiyappn Surulimuthu" content="">

    <title>Link Reliability Verifier</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/fileuploadviewapp/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/fileuploadviewapp/bootstrap-theme.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Loading Images -->
    <link href="{% static 'images/page_loading.gif' %}">



</head>
<body>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <center>
                <h1>Welcome to Link Reliability Verifier Home Page</h1>
            </center>
        </div>

        {% if noerror == None or error404 == None %}
          <center>
            <h4>Upload your file here</h4>
            <br>
            <form id="form" action='/upload' method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" />
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </center>
        {% endif %}

        {% if noerror or error404 %}
          <center>
             <a href="{% url 'index' %}" class="btn btn-lg btn-primary">Back</a>
          </center>
        {% endif %}

        <br>

        {% if error404 %}
        <div class="jumbotron">
            <span>
                <center>
                    <h3><span class="text-success">No Error in following URLs</span></h3></center>
            </span>
            <span class="pre-scrollable">
                {% for url in noerror%}
                    {{url}}
                <br>
                {% endfor %}
            </span>
        </div>
        {% endif %}

        {% if error404 %}
        <div class="jumbotron pre-scrollable">
            <center>
                <h3><span class="text-danger">404 Error in following URLs</span></h3></center>
            {% for url in error404%} {{url}}
            <br> {% endfor %}
        </div>
        {% endif %}
    </div>

</body>
</html>