body {
    /*
    background: url('../images/background.jpg') repeat-x repeat-y;
    background: url("/static/images/background.jpg") 50% 0 no-repeat fixed;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    */
}